<% title "Message" %>

<p>
  <strong>Owner:</strong>
  <%=h @message.owner %>
</p>
<p>
  <strong>Msg:</strong>
  <%=h @message.msg %>
</p>

<p>
  <%= link_to "Destroy", messages_path(@message.id), :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", messages_path %>
</p>
